

<nav class="list-button group">

  <div class="left">
    <form action="<%= new_note_url %>" method="get">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="list_id" value="<%= list.id %>">

      <p><input type="submit" value="Add a Note!"></p>
    </form>
  </div>

  <div class="left">
    <form action="<%= new_note_url %>" method="get">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="list_id" value="<%= list.id %>">

      <input type="hidden" name="options" value="photo">

      <p><input type="submit" value="Add a Photo!"></p>
    </form>
  </div>

  <div class="left">
    <form action="<%= new_note_url %>" method="get">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="list_id" value="<%= list.id %>">
      <input type="hidden" name="zip" value="<%= list.garden ? (list.garden.zip ? list.garden.zip : nil) : nil %>">
      <input type="hidden" name="options" value="crop">

      <p><input type="submit" value="Add a Crop!"></p>
    </form>
  </div>

</nav>