<li class="info list group ui-state-default">

  <a id="#<%= list.name %>"></a>

  <section class="data">

    <section class="listwrapper" id="<%= list.id %>">

      <h2><%= list.name %></h2>

      <ul class="sortable">

        <% list.notes.sort_by { |a| a.note_pos }.each do |note| %>

          <li class="info card ui-state-default" id="<%= note.id %>" data-list_id="<%= note.list_id %>">

            <%= render partial: "/notes/note_info", locals: { note: note } %>

          </li>

        <% end %>

      </ul>

      <%= render partial: "lists/list_nav", locals: { list: list} %>

    </section>

  </section>

</li>