
<h2>FLAGS</h2>

<ul class="flag-toggle">
  <li>
    <form action="<%= note_url(params[:id]) %>" method="POST" enctype="multipart/form-data">

      <% @note = Note.find(params[:id]) %>

      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

      <input type="hidden" name="_method" value="PUT">

      <input type="hidden" name="note[flag1]" value="<%= @note.flag1 ? false : true %>">

      <p class="right"><input type="submit" class="flag1" value="<%= @note.flag1 ? 'REMOVE' : '' %>"</p>
    </form>
  </li>



  <li>
    <form action="<%= note_url(params[:id]) %>" method="POST" enctype="multipart/form-data">

      <% @note = Note.find(params[:id]) %>

      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

      <input type="hidden" name="_method" value="PUT">

      <input type="hidden" name="note[flag2]" value="<%= @note.flag2 ? false : true %>">

      <p class="right"><input type="submit" class="flag2" value="<%= @note.flag3 ? 'REMOVE' : '' %>"</p>
    </form>
  </li>


  <li>
    <form action="<%= note_url(params[:id]) %>" method="POST" enctype="multipart/form-data">

      <% @note = Note.find(params[:id]) %>

      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

      <input type="hidden" name="_method" value="PUT">

      <input type="hidden" name="note[flag3]" value="<%= @note.flag3 ? false : true %>">

      <p class="right"><input type="submit" class="flag3" value="<%= @note.flag3 ? 'REMOVE' : '' %>"</p>
    </form>
  </li>

  <li>
    <form action="<%= note_url(params[:id]) %>" method="POST" enctype="multipart/form-data">

      <% @note = Note.find(params[:id]) %>

      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

      <input type="hidden" name="_method" value="PUT">

      <input type="hidden" name="note[flag4]" value="<%= @note.flag4 ? false : true %>">

      <p class="right"><input type="submit" class="flag4" value="<%= @note.flag4 ? 'REMOVE' : '' %>"</p>
    </form>
  </li>


  <li>
    <form action="<%= note_url(params[:id]) %>" method="POST" enctype="multipart/form-data">

      <% @note = Note.find(params[:id]) %>

      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

      <input type="hidden" name="_method" value="PUT">

      <input type="hidden" name="note[flag5]" value="<%= @note.flag5 ? false : true %>">

      <p class="right"><input type="submit" class="flag5" value="<%= @note.flag5 ? 'REMOVE' : '' %>"</p>
    </form>
  </li>
</ul>