<section class="note-info">

  <div class="ribbons group">
    <% if note.flag1 %>
    <div class="ribbon1 ribbon"></div>
    <% end %>

    <% if note.flag2 %>
    <div class="ribbon2 ribbon"></div>
    <% end %>

    <% if note.flag3 %>
    <div class="ribbon3 ribbon"></div>
    <% end %>

    <% if note.flag4 %>
    <div class="ribbon4 ribbon"></div>
    <% end %>

    <% if note.flag5 %>
    <div class="ribbon5 ribbon"></div>
    <% end %>
  </div>

  <h1><%= note.crop_id %><h1>

  <% if note.crop_id %>

    <%= render "/crops/crop_info", crop: Crop.find(note.crop) %>

  <% else %>

    <h3><%= note.title %></h3>

    <% if note.note_photo_file_name %>

      <%= image_tag note.note_photo.url(:small) %>

    <% end %>

  <% end %>

  <span class="icons left">
      <% if note.comments.length > 0 %>
        <i class="icon-comment"></i>
        <%= note.comments.length %>
      <% end %>

      <% if note.due_date %>
        <i class="icon-calendar"></i>
        <%= format_date(note.due_date) %>

      <% end %>
  </span>

  <span class="right">
    <%= button_to "View!", note_url(note), method: :get %>
  </span>

  <br>

</section>

<br>
