

<!-- <% @list_id =  params[:list_id] %> -->
<%= form_for @note do |f| %>
  <!-- <%= f.label :title %> -->
  <!-- <%= f.text_field :title %> -->
  <!-- <%= hidden_field_tag 'note[list_id]', @list_id  %> -->
  <%= f.label :Upload %>
  <%= f.file_field :note_photo %>

  <p class="right"><%= f.submit %></p>
<% end %>
