  <form action="/notes/" method="POST" enctype="multipart/form-data">

  <input type="hidden" name="note[crop_id]" value="<%= crop.id %>">

  <h3>New Note...</h3>

  <!-- removed top of form here to _crop_info -->

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" id="some_name">

    <label>Title
      <input type="text" name="note[title]" value="<%= @note.title if @note %>">
    </label>

    <br>

    <label>Note
      <textarea name="note[text]" text="<%= @note.title if @note %>"></textarea>
    </label>

    <br>

    <p><input type="submit" value="Make a Note"></p>
  </form>

</section>

  <h3>New Note...</h3>

<% @note = Note.new %>
  <%= form_for @note, url: { action: "create" } do |f| %>
  <%= f.file_field :note_photo %>
  <%= f.text_field :title %>
  <%= f.text_field :text %>
  <%= f.submit %>
<% end %>