
  <section class="group" id="note-view">

    <section class="content-main left" id="A<%= @note.id %>">

      <h1><%= @note.title %></h1>
			
      <div><h3 class="sub">In: <em><%= @note.list.garden.name %></em></h3></div>

		<div class="left icons group">
			<%= render partial: "note_icons", locals: {note: @note} %>
		</div>
		
		<section class="group">
			
      <% if @note.text && @note.text != "" && current_user.id != @note.user_id %>
        <h2 class="note-text"><%= @note.text %></h2>
      <% end %>

      <% if current_user.id == @note.user_id %>

        <form action="<%= note_url(@note) %>" method="POST" enctype="multipart/form-data">

          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" id="some_name">

          <input type="hidden" name="_method" value="PUT">

          <input type="text" id="description" name="note[text]" value="<%= @note.text if @note %>" placeholder="Description">

          <div class="group right"><p id="description-button"><input type="submit" value="<%= @note.text ? "Update Description" : "Add Description" %>"></p></div>
          <br>
        </form>
      <% end %>
		</section>
		<hr>
		<div class=group>
			<h2>PHOTO</h2>
        <% if @note.note_photo_file_name %>

        	<div class="frame"><%= image_tag @note.note_photo.url(:big) %></div>
					
				<% else %>
				
				<%= render partial: "photo_form" %>

        <% end %>
			</div>
		<hr>

          <!-- <%= button_to "Return to Garden!", garden_url(@note.list.garden_id), method: :get %> -->


      <%= render "/comments/form", note: @note %>
			<section id="comments-wrapper">
	      <% @note.comments.each do |comment| %>

	        <div class="group">
						<h3 class="left"><%= comment.user.name %></h3>
						<h4 class="sub right"><%= time_ago_in_words(comment.created_at) %> ago</h4>
					</div>

	        <p class="link-text"><%= comment.text %></p>

	        <ul>
	            <% if current_user.id == comment.user_id %>
	              <nav class="right group">
									<li><%= button_to "Delete", comment_url(comment), method: :delete %><li>
	             		<li><%= button_to "Edit", edit_comment_url(comment), method: :get %><li>
								<nav>
	            <% end %>
	        </ul>

	        <br>

	      <% end %>
			</section>
    </section>

    <span class="content-sidebar left bigger-right">

      <%= render partial: "note_options", locals: { note: @note } %>

    </span>
  </section>
