
<h1><%= @note.title %></h1>
<p><%= @note.text %></p>

<%= button_to "Delete!", note_url(@note), method: :delete %>
<%= button_to "Edit!", edit_note_url(@note), method: :get %>
<%= button_to "Return to Garden!", garden_url(@note.list.garden_id), method: :get %>

<hr>

<%= render "/comments/form", note: @note %>

<% @note.comments.each do |comment| %>

  <p><%= comment.text %></p>

  <% if current_user.id == comment.user_id %>

  <%= button_to "Delete", comment_url(comment), method: :delete %>
  <%= button_to "Edit", edit_comment_url(comment), method: :get %>

  <% end %>

<% end %>

<nav>
  <li>
    <form action="<%= note_url(params[:id]) %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="PUT">
      <input type="date" name="note[due_date]">

      <p><input type="submit" value="Due Date"></p>
    </form>

  </li>


  <li>


  </li>


  <li>


  </li>


  <li>


  </li>

</nav>

