<section "note-page">
<section class="note-view">

  <div class="note-header group">
    <h1><%= @note.title %></h1><h2>In <em><%= @note.list.garden.name %></em></h2>

    <% if @note.text && @note.text != "" && current_user.id != @note.user_id %>
      <h2 class="note-text"><%= @note.text %></h2>
    <% end %>

    <% if current_user.id == @note.user_id %>

      <form action="<%= note_url(@note) %>" method="POST" enctype="multipart/form-data">

        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" id="some_name">

        <input type="hidden" name="_method" value="PUT">

        <input type="text" name="note[text]" value="<%= @note.text if @note %>" placeholder="Description">

        <br>
        <p class="right"><input type="submit" value="<%= @note.text ? "Update Description" : "Add Description" %>"</p>
      </form>

    <% end %>

    <div class="group">
      <div class="left info">
        <% if @note.comments.length > 0 %>
          <i class="icon-comment"></i>
          <p class="sub icon"><%= @note.comments.length %></p>
        <% end %>

        <% if @note.due_date %>
          <i class="icon-calendar"></i>
          <p class="sub icon"><%= format_date(@note.due_date) %></p>
        <% end %>

        <% if @note.assigne_user %>
          <i class="icon-calendar"></i>
          <p class="sub icon"><%= format_date(@note.due_date) %></p>
        <% end %>
      </div>

      <% if @note.note_photo_file_name %>

        <%= image_tag @note.note_photo.url(:big) %>

      <% end %>

      <div class="right buttons">
        <%= button_to "Return to Garden!", garden_url(@note.list.garden_id), method: :get %>
      </div>

    </div>

    <hr>

    <%= render "/comments/form", note: @note %>

  </div>

  <% @note.comments.each do |comment| %>

  <div class="comment group">

    <div class="comment-text">
      <h3><%= comment.user.name %></h3>
      <p><%= comment.text %></p>

      <div class="comment-options">
        <ul>
          <li><h4 class="sub"><%= time_ago_in_words(comment.created_at) %> ago</h4><li>

          <% if current_user.id == comment.user_id %>

            <li><%= button_to "Delete", comment_url(comment), method: :delete %><li>
            <li><%= button_to "Edit", edit_comment_url(comment), method: :get %><li>

          <% end %>

        </ul>

        <br>
      </div>
    </div>
  </div>

  <% end %>

  </section>

  <%= render "note_options" %>

</section>