
<% if current_user.name="Demo"%>

	<div id="demo-instructions" class="group invisible">
		<h3>DEMO INSTRUCTIONS</h3>

		<p>
			THIS IS THE <strong>PROFILE PAGE</strong> WHERE YOU CAN MANAGE ALL OF YOUR PROJECTS. 
		</p>
		<p>
			If you have any deadlines scheduled within the next 3 days, they'll appear in the <strong>NOTIFICATIONS</strong> section.
		</p>
		<p>
			All of the individual project items you've created will be displayed in the <strong>MY CARDS</strong> list below. Click on a card to see more information.
		</p>
		<p>
			<strong>MY GARDENS</strong> lists each of your garden projects and their locations. Click on <em><strong>Worcester St Community Garden</strong></em> to move on to the project's main page.
		</p>
	</div>
	
<% end %>

<section class="content user group" id="user-show">

	<section class="group">

	  <section class="content-main left bigger-left">
			
			<% if current_user.name="Demo"%>
				<div class="center-button">
					<div id="instructions-button" class="group">
						<h3><strong>INSTRUCTIONS <i class="icon-hand-up"></i><strong></h3>
					</div>
				</div>
				
			<% end %>

	    <h2>My Gardens</h2>
			<% if current_user.gardens.length > 0 || current_user.garden_memberships.length > 0 %>
		    <ul>
		      <% current_user.gardens.each do |garden| %>

		        <div class="group">
							<li class="link-text link-button"><%= link_to garden.name, garden_url(garden), method: :get %></li>
							<li class="group"><h4 class="sub"><%= garden.location %></h4></li>
						</div>

		      <% end %>
					
		      <% current_user.garden_memberships.each do |membership| %>

		        <div class="group">
							<li class="link-text link-button"><%= link_to Garden.find(membership.garden).name, garden_url(membership.garden), method: :get %></li>
							<li class="group"><h4 class="sub"><%= Garden.find(membership.garden).location %></h4></li>
						</div>

		      <% end %>
		    </ul>
				
			<% else%>
				<h3 class="sub">All of your different garden projects will live here. Click <em>Plant a New Garden!</em>  below to start your first project!</h3>
			<% end %>
			
			<section class="group" id="new-garden-set">
				<section class="invisible" id="garden-form">
					<%= render partial: "gardens/form" %>
				</section>
		
				<div class="center-button">
				    <div class="group"><a href="#" id="garden-button">Plant a New Garden</a>
				</div>
			</section>
			
		</section>
		
		<section class="content-main right">
			<h2>Notifications</h2>
		
			<% if current_user.notifications.length > 0 %>
				<% current_user.notifications.each do |notification| %>
	      <div class="comment-text link-text notification" id="<%= notification.note_id%>">
	        <p><a href="<%= note_url(notification.note) %>"><%= notification.text %></a><i class="icon-remove-sign right"></i></p>
	      </div>
				<% end %>
			<% else %>
				<h3 class="sub">You'll be able to see all of your reminders, notifications, and messages here. Right now, you are all caught up!</h3>
			<% end %>
			
		</section>
	</section>
	
	<section class="loose-cards group">
    <h2>My Cards</h2>

		<% if current_user.notes.length > 0 %>
	    
			<ul id="cards-holder" class="list">		
	      <% current_user.notes.sort_by { |a| a.updated_at }.each do |note| %>
		      <li class="info card ui-state-default item" id="<%= note.id %>" data-list_id="<%= note.list_id %>">
		        <%= render partial: "/notes/note_info_mini", locals: { note: note } %>
		      </li>
	      <% end %>
	    </ul>
			
		<% else %>
			<h3 class="sub">As your garden grows all of your notes, pictures, and schedules will be displayed below</h3>
		<% end %>
	
  </section>
</section>


<section class="invisible" id="garden-form">
	<%= render partial: "gardens/form" %>
</section>

<div class="modal">

  <!-- stuff renders here -->

</div>


<script>

$(document).ready(function(){

	
	$("#garden-button").on("click", function(){
		$("#garden-form").removeClass("invisible");
		$(this).addClass("invisible");
		
	})
	
	// $(".notification").on("click", function(){
	// 	console.log("notification");
	// })
	
	$(".notification").on("click", ".icon-remove-sign", function(){
		var data = {
      note: {
        due_date: "nil"
      }
    };
		
		var id = $(this).closest(".notification").attr("id");

		$(this).closest(".notification").remove();
		$.ajax({
			url: "/notes/" + id,
			type: "PUT",
			data: data,
			dataType: "json"
		});
	})
	
	/////////////////////////////////


	/////--- CENTER FUNCTION ---/////

	$.fn.center = function () {
	    this.css("position","absolute");
	    this.css("top", ( $(window).height() - this.height() ) / 2+$(window).scrollTop() + "px");
	    this.css("left", ( $(window).width() - this.width() ) / 2+$(window).scrollLeft() + "px");
	    return this;
	}

	/////--- DISPLAYS INSTRUCTIONS ---/////
	
  $("#").on("click", function(event){
    event.preventDefault();
		
		$("#demo-instructions").removeClass("invisible");
 
    $("#demo-instructions").dialog({
      width: 780,
      position: ["center", "top"]
    });

    $("#blur").removeClass("invisible");

  });
	
	$('#blur').click(function() {
	  $(this).addClass("invisible");
		$("#demo-instructions").addClass("invisible");
	  $(".modal").addClass("invisible");
	})
	
	/////--- DISPLAYS MODAL BOX ---/////


	$("#cards-holder").on("click", "li", function(event){
	  event.preventDefault();
		console.log("click")

	  var id = $(this).attr("id");

	  $.ajax({
	    url: "/notes/" + id,
	    type: "GET",
	    success: function(data){
	    },
	  });
	  $(".modal").removeClass("invisible");

	  $(".modal").dialog({
	    width: 780,
	    position: ["center", "top"]
	  });

	  $("#blur").removeClass("invisible");

	});


	/////--- HIDES MODAL ON CLICK OUTSIDE ---/////

	$('#blur').click(function() {
	  $(this).addClass("invisible");
	  $(".modal").addClass("invisible");
	})

	/////--- ENABLES MASONRY TILES ---/////

	var list = document.querySelector('.list');
	var msnry = new Masonry( list, {
 	 //options
 	 columnWidth: 270,
 	 itemSelector: '.item'
	});
	
});




</script>

