<section class="crop-info">

  <h2><%= crop.name %></h2>

  <ul>

    <p><%= crop.variant %></p>
    <li class="planted sub"><%= crop.plant_date ? "PLANTED: #{crop.plant_date}" : (crop.to_plant_date ? "TO PLANT: #{crop.to_plant_date}" : "") %></li>
    <br>
    <li class="harvested sub"><%= crop.harvest_date ? "HARVESTED: #{crop.harvest_date}" : (crop.to_harvest_date ? "TO HARVEST: #{crop.to_harvest_date}" : "") %></li>

  </ul>

  <% if !crop.plant_date %>
    <form action="<%= crop_url(crop) %>" method="post">
      <input type="hidden" name="_method" value="PUT">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="date" name="crop[plant_date]">
      <input type="submit" value="Planted!">
    </form>
  <% end %>

  <br>

  <% if !crop.harvest_date %>

    <form action="<%= crop_url(crop) %>" method="post">
      <input type="hidden" name="_method" value="PUT">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="date" name="crop[harvest_date]">
      <input type="submit" value="Harvested!">
    </form>

  <% end %>

  <form action="/notes/" method="POST" enctype="multipart/form-data">

  <input type="hidden" name="note[crop_id]" value="<%= crop.id %>">

  <%= render "/notes/form" %>

  <% @note = Note.new %>
  <%= form_for @note, url: { action: "create" } do |f| %>
  <%= f.file_field :note_photo %>
  <%= f.submit %>
<% end %>



  <% crop.notes.each do |note| %>
    <%= render "/notes/note_info", note: note %>
  <% end %>
</section>