
<h2 class="list-header">New Plant</h3>

<form action="/crops" method="POST" class="new-crop">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

  <input type="hidden" name="crop[garden_id]" value="<%= params[:garden_id] %>">

  <input type="hidden" name="crop[user_id]" value="<%= current_user.id %>">
  <input type="hidden" name="note[user_id]" value="<%= current_user.id %>">
  <input type="hidden" name="crop[list_id]" value="<%= params[:list_id]%>">

  <h3 class="sub"><label>Name</label></h3>
  <input type="text" name="crop[name]">


  <h3 class="sub"><label>Variant or Description</label></h3>
    <input type="text" name="crop[variant]">


  <h3 class="sub"><label>Plant Date</label></h3>
    <input type="date" name="crop[to_plant_date]">


  <h3 class="sub"><label>Harvest Date</label></h3>
    <input type="date" name="crop[to_harvest_date]">


  <p class="right"><input type="submit" value="Plant!"></p>
</form>
