<section class="garden-info">
  <section class="garden-data">
    <h2><%= garden.name %></h2><br>
    <p class="sub">Created by: <%= garden.user.name %></p>
    <p class="sub">Location: <%= garden.location %></p>

    <br>

    <ul class="garden-list">
      <% garden.lists.each do |list| %>
        <a href="<%= list_url(list) %>"><li><h3><%= list.name %></h3></li></a><br>
      <% end %>
    </ul>
  </section>
</section>

