<section class="info garden group left">
  <section class="data group left">
    <h2><%= garden.name %></h2><br>

    <section class="info">
      <p class="sub">Created by: <%= garden.user.name %></p>
      <p class="sub">Location: <%= garden.location %></p>

      <br>

      <ul class="garden-list">

        <% garden.lists.each do |list| %>
          <li><a href="#<%= list.name %>"><h3><%= list.name %></h3></a></li><br>
        <% end %>
      </ul>
    </section>
  </section>
</section>

