
	<div id="demo-instructions" class="group instructions invisible">

		<h3>DEMO INSTRUCTIONS</h3>
		
		<p>
			THIS IS A <strong>PROJECT PAGE</strong> WHERE YOU CAN MANAGE AN INDIVIDUAL PROJECT. 
		</p>
		<p>
			On the left, you can see all of the <strong>PROJECT INFO,</strong> including the creator, location, collaborators, and an option to add more gardeners to the project.
		</p>
		<p>
			In the main view, you have <strong>LISTS</strong> representing different to-dos, tasks, topics and schedules. You can drag and drop the lists - and they'll stay where you left them if you refresh the page! Try moving something around.
		</p>
		<p>
			Each of the <strong>NOTES</strong> can also be moved around. You can even move them to another list! Try to move a card to a new list.
		</p>
		<p>
			If you click on a <strong>NOTE</strong>, you can see more info - a description, user comments, due dates, and flags. 
		</p>
		<p>
			Click on a flag to mark a <strong>NOTE</strong> as important. It will update both the <strong>NOTE</strong> info page and the main <strong>LIST</strong> view.
		</p>
		<p>
			Add a comment if you'd like, or even upload a photo from your computer!
		</p>
		<p>
			You can create a new <strong>LIST</strong> and add some <strong>NOTES</strong> to it by clicking the corresponding <strong>ADD!</strong> buttons
		</p>
		<p>
			When you're finished, <strong>LOGOUT</strong> to return to the <strong>WELCOME</strong> page.
		</p>
	</div>


<section class="page-view">

  <%= render partial: "garden_info", locals: {garden: @garden} %>

  <ul class="lists list-sortable left" id="list-container">

    <%= render partial: "lists/list", collection: @garden.lists.sort_by { |a| a.list_pos } %>

  </ul>

  <%= render partial: "lists/list_list_form" %>

</section>

<!-- note view  -->

<div class="modal">

  <!-- stuff renders here -->

</div>


<script>

$(document).ready(function(){
	
  /////--- DISPLAYS NEW NOTE FORM ---/////

  var $note_button = $(".note-button");
  var $note_form = $(".note-form");
  $(".lists").on("click", "li .note-button", function(event){
    event.preventDefault();
    $(this).addClass("invisible");

    var form = $(this).closest("div").find(".list-form");
    form.removeClass("invisible");
  });


  /////--- NEW NOTE CREATION ---/////

  $(".lists").on("click", "li form.note-form input[type=submit]", function(event){
    event.preventDefault();

    var $form = $(this).closest("form");
    var formData = $form.serialize();

    var $list = $(this).closest("li").find(".listwrapper");
    var $list_sort = $($list.children(".sortable"));

    var list_id = $list.attr("id");
    var title = $form.find(".title").val();

    var data = {
      note: {
        list_id: parseInt(list_id),
        title: title,
        user_id: $form.find(".user_id").val()
      }
    }

		if (title != "") {
	    $.ajax({
	      url: "/notes",
	      type: "POST",
	      data: data,
	      dataType:"json",
	      success: function(data){

	        var $newNote = ('<li class="info card ui-state-default" id="' + data.id + '"data-list_id="' + list_id + '" style="cursor: pointer;"><section class="data"><div class="ribbons group right"></div><h3>' + title + '</h3><div class="front-icons"><div class="left icons group"></div></div></section></li>');
	        $list_sort.append($newNote).sortable({connectWith: ".sortable"});
	      },
	    });
		};
		
    $form[0].reset();
    		$form.closest("div").find(".note-button").removeClass("invisible");
    $form.addClass("invisible");

  });


  /////--- CENTER FUNCTION ---/////
	
  $.fn.center = function () {
      this.css("position","absolute");
      this.css("top", ( $(window).height() - this.height() ) / 2+$(window).scrollTop() + "px");
      this.css("left", ( $(window).width() - this.width() ) / 2+$(window).scrollLeft() + "px");
      return this;
  }

	/////--- DISPLAYS INSTRUCTIONS ---/////
	
  $("#").on("click", function(event){
    event.preventDefault();
		
		$("#demo-instructions").removeClass("invisible");
 
    $("#demo-instructions").dialog({
      width: 780,
      position: ["center", "top"]
    });

    $("#blur").removeClass("invisible");

  });
	
	/////--- DISPLAYS MODAL BOX ---/////


  $(".lists").on("click", " li .card", function(event){
    event.preventDefault();

    var id = $(this).attr("id");

    $.ajax({
      url: "/notes/" + id,
      type: "GET",
      success: function(data){
      },
    });
    $(".modal").removeClass("invisible");

    $(".modal").dialog({
      width: 780,
      position: ["center", "top"]
    });

    $("#blur").removeClass("invisible");

  });


	/////--- HIDES MODAL ON CLICK OUTSIDE ---/////

	$('#blur').click(function() {
	  $(this).addClass("invisible");
		$("#demo-instructions").addClass("invisible");
	  $(".modal").addClass("invisible");
	})


	/////--- DISPLAYS NEW LIST FORM ---/////

  var $list_button = $("#list-button");

  var $list_form = $("#list-form");

  $list_button.on("mouseover", function(){
    $(this).stop(true).animate({opacity: 1.0}, 200);
  });

  $list_button.on("mouseout", function(){
    $(this).stop(true).animate({opacity: 0.6}, 200);
  });

  $list_button.on("click", function(event){
    $(this).addClass("invisible");
    $list_form.removeClass("invisible");

    event.preventDefault();
  });

  $list_form.on("submit", function(event){
    event.preventDefault();

    var $lists = $(this).closest(".page-view").find(".lists")
    var $form = $(this).children("form")
    var formData = $form.serialize();

    $.ajax({
      url: "/lists",
      type: "POST",
      data: formData,
      dataType: "json",
      success: function(data){
        var $listForm = '<li class="info list group ui-state-default" style="cursor: pointer"><a id="#' + data.name +'"></a><section class="data"><section class="listwrapper" id="'+ data.id +'"><h2>' + data.name + '</h2><ul class="sortable ui-sortable"></ul></section></section><%= escape_javascript(render partial: "notes/note_note_form") %></li>';
        $lists.append($listForm);
				$form[0].reset();
      }
    })
			
  	$(this).addClass("invisible");
   	$list_button.removeClass("invisible"); 
  });
	
	
	/////--- Card View ---/////
	
	$(".modal").on("click", "#description-button", function(event){
		event.preventDefault();
		var form = $(this).closest("form")
		var formData = form.serialize();
		var id = $(this).closest(".content-main").attr("id").slice(1);
		$.ajax({
			url: "/notes/" + id,
			type: "PUT",
			data: formData,
			dataType: "json",
			success: function(data){
				form.children(":text").addClass("persisted")
			}
			
		});
	});
	
	$(".modal").on("click", "#comment", function(event){
		event.preventDefault();
		var form = $(this).closest("form");
		var formData = form.serialize();
		var comments = $(this).closest(".content-main").find("#comments-wrapper");
		var id = $(this).closest(".content-main").attr("id").slice(1);
		$.ajax({
			url: "/comments/",
			type: "POST",
			data: formData,
			dataType: "json",
			success: function(data){
				form[0].reset();
				console.log(data.text)
				// var createdAt =
				// console.log(createdAt)
				comments.prepend("<div class='group'><h3 class='left'><%= current_user.name %></h3><h4 class='sub right'></h4></div><p class='link-text'>" + data.text + "</p><ul><nav class='right group'><li></li></nav></ul>")
			}
			
		});
	});
	
	$(".modal").on("click", "#due-date", function(event){
		event.preventDefault();
		var form = $(this).closest("form");
		var formData = form.serialize();
		var id = $("#note-view").find(".content-main").attr("id").slice(1);
		console.log(id)
		$.ajax({
			url: "/notes/" + id,
			type: "PUT",
			data: formData,
			dataType: "json",
			success: function(data){
				form[0].addClass("persisted")
				// add update here
			}
			
		});
	});
	
	$(".modal").on("click", "#due-done", function(event){
		event.preventDefault();
		var form = $(this).closest(".form")
		var formData = {
        note: {
          due_date: "nil"
        }
      }
		var id = $("#note-view").find(".content-main").attr("id").slice(1);
		console.log(id)
		$.ajax({
			url: "/notes/" + id,
			type: "PUT",
			data: formData,
			dataType: "json",
			success: function(data){
				// add update here
			}
			
		});
	});	
	
	/////--- ENABLES LIST & NOTE DRAGGING ---/////
	
	
	var enableDragging = function(){
		var $listContainer = $(".page-view").children("ul");
	
	  $( ".ui-state-default" ).mouseover().css( "cursor", "pointer" );

	  $(function() {
	    $( ".list-sortable").sortable({
				placeholder: "list-sortable-placeholder",
				start: function(e, ui) {
					ui.placeholder.height(ui.item.height() - 2);
					ui.placeholder.width(ui.item.width() - 2);
				},
	      stop: function(e, ui) {
	        var $lists = $(ui.item.closest("ul").children("li"));

	        $lists.each( function(i, elem) {
	          var list_wrapper = $(this).find("section.listwrapper")
	          var list_id = $(list_wrapper).attr("id")

	          var data = {
	            list: {
	              list_pos: parseInt($(this).index())
	            }
	          }

	          $.ajax({
	            url: "/lists/" + list_id,
	            type: "PUT",
	            data: data,
	            dataType:"json",
	            success: function(data){
	            },
	          });
	        });
	      }
	    }).disableSelection();

	    $( ".sortable" ).sortable({
	      connectWith: ".sortable",
				placeholder: "note-sortable-placeholder",
				start: function(e, ui) {
					ui.placeholder.height(ui.item.height() - 2);
					ui.placeholder.width(ui.item.width() - 2);
				},
	      stop: function(e, ui) {
	        var NoteId = ui.item.attr("id");
	        var NoteIndex = ui.item.index();
	        var NoteNewList = ui.item.closest("ul");
	        var NoteNewListId = ui.item.closest("ul").parent().attr("id");

	        var newListItems = $(NoteNewList.children("li"));

	        newListItems.each( function(i, elem) {
	          var note_id = $(this).attr("id");
	          var data = {
	            note: {
	              list_id: parseInt(NoteNewListId),
	              note_pos: parseInt($(this).index())
	            }
	          };

	          $.ajax({
	              url: "/notes/" + note_id,
	              type: "PUT",
	              data: data,
	              dataType:"json",
	              success: function(data){
	              },
	            });

	        });
	      },
	    }).disableSelection();
	  });
	}; ///// Dragging Function
	enableDragging();
	
	
	$("#list-container").on("change", function(){
		enableDragging();
	});
});

</script>