<!DOCTYPE html>
<html>
<head>
  <title>GardenApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Kite+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="vendor/assets/font-awesome/css/font-awesome.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>

  <header class="top">

    <h1 id="growy">growy</h2>

	<%= flash[:errors] if flash[:errors] %>

	<% if !current_user.nil? %>

    <ul>
      <li>Current User: <%= current_user.name %></li>
      <li><%= button_to "Logout", session_url, method: :delete %></li>
    </ul>

  <% else %>

    <ul>
      <%= button_to "Sign In", new_session_url, method: :get %>
      <%= button_to "Join", new_user_url, method: :get %>
    </ul>

	<% end %>
  </header>


	<%= yield %>

</body>
</html>
