<!DOCTYPE html>
<html>
<head>
  <title>GardenApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Kite+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200italic|Raleway+Dots|Titillium+Web' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


</head>

<body>
  <div id="blur" class="invisible group"></div>

  <header class="group">

      <nav class="top-bar group">
			<div id="logo-frame"><img src="/images/logo2.png" width="759" height="390" alt="Logo2" id="logo">
				<!-- <h5 class="left">Early Worm</h5></div> -->
		    <!-- <h1 id="logo" class="left">EARLY WORM</h1> -->
        <nav class="login-buttons group">

        	<% if !current_user.nil? %>
              <!-- <% add_notifications(current_user) %>
              <li><h2>Current User: <%= current_user.name %><h2></li>
              <li><%= button_to "Logout", session_url, method: :delete %></li> -->

          <% else %>

              <!-- <li><%= button_to "Sign In", new_session_url, method: :get %></li>
              <li><%= button_to "Join", new_user_url, method: :get %></li> -->

        	<% end %>


        	<% if !current_user.nil? %>
          <!-- <li><h2>Current User: <%= current_user.name %><h2></li>
          <li><%= button_to "Logout", session_url, method: :delete %></li>
            <%= render "users/notifications" %> -->
						<%= render partial: "users/header"%>
        	<% end %>
        </nav>
      </nav>
  </header>

  <section class="main group">

    	<%= yield %>

  </section>
	<footer id="footer">
		<h3 class="sub"> Seth H | 10/13 | sethleland@gmail.com</h3>
	</footer>
</body>
</html>


<script>

$(document).ready(function(){

	/////--- Header Bar Animations and Actions ---/////
	
	/// Logout ///
	var $logout = $("#logout");
	
	$logout.on("click", function(event){

	})
	

	

	
	/// User
	
	var $user = $("#user");
	
	$user.on("click", function(event){
		console.log("user");
	});
	
	/// Home
	
	var $home = $("#home");
	
	$home.on("click", function(event){
		console.log("home");
	});

});



</script>